HYPERFIT_DATABASE_PATH=../../data/hyperfit.db
HYPERFIT_ALLOWED_ORIGINS=http://localhost:3010
HYPERFIT_ADMIN_EMAIL=joudali1910@gmailcom
HYPERFIT_ADMIN_NAME=جود علي
HYPERFIT_ADMIN_PASSWORD=replace-with-a-strong-password
